# Exercícios com pandas

Lembre-se!
1. O Google é seu amigo :)
2. Não existe apenas uma forma "correta" de se resolver um problema
3. Aprendemos bastante com a prática!

## 1. Abra o dataset "iris.csv" como um dataframe do pandas

Baixe o dataset [aqui](https://drive.google.com/file/d/1X_UoUjBvU0pfYQTNjDRxAGyRMOsjkpsS/view?usp=share_link)

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv('iris.csv')

In [ ]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## 2. Visualise as primeiras 5 linhas do dataframe

In [ ]:
iris[0:5]

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris[:5]

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris.iloc[0:5,:]

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

## 3. Imprima os nomes das colunas

In [ ]:
iris.dtypes

sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
class           object
dtype: object

In [ ]:
cols = list(iris.columns)
print(cols)

['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class']

In [ ]:
type(iris[0:0])

pandas.core.frame.DataFrame

## 4. Quantas colunas e quantas linhas tem o dataframe?

In [ ]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
rows = iris.shape[0]
cols = iris.shape[1]
print(rows)
print(cols)

150
5

In [ ]:
iris.shape

(150, 5)

In [ ]:
len(iris)

150

In [ ]:
len(iris.columns)

5

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## 5. Faça um subset do dataframe contendo apenas as linhas de número 10 a 20. Salve esse subset em um novo dataframe

In [ ]:
df1 = iris.iloc[9:20, :]
df1

    sepallength  sepalwidth  petallength  petalwidth        class
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa

In [ ]:
iris10a20 = iris[10:21]
iris10a20

    sepallength  sepalwidth  petallength  petalwidth        class
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa

## 6. Crie um novo dataset contendo apenas as colunas "sepallength" e "class"

In [ ]:
iris2 = iris[['sepallength', 'class']]
iris2

     sepallength           class
0            5.1     Iris-setosa
1            4.9     Iris-setosa
2            4.7     Iris-setosa
3            4.6     Iris-setosa
4            5.0     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[150 rows x 2 columns]

In [ ]:
iris[['sepallength','class']]
iris_sep_class = iris[['sepallength','class']]
iris_sep_class

     sepallength           class
0            5.1     Iris-setosa
1            4.9     Iris-setosa
2            4.7     Iris-setosa
3            4.6     Iris-setosa
4            5.0     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[150 rows x 2 columns]

In [ ]:
print(iris)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
display(iris)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## 7. Imprima apenas os valores da linha 4

In [ ]:
iris.iloc[4:5]

   sepallength  sepalwidth  petallength  petalwidth        class
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris_four = iris.loc[4]
print(iris_four)

sepallength            5.0
sepalwidth             3.6
petallength            1.4
petalwidth             0.2
class          Iris-setosa
Name: 4, dtype: object

In [ ]:
iris.iloc[4:5, ]

   sepallength  sepalwidth  petallength  petalwidth        class
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris.iloc[3]

sepallength            4.6
sepalwidth             3.1
petallength            1.5
petalwidth             0.2
class          Iris-setosa
Name: 3, dtype: object

## 8. Filtre o dataframe para mostrar apenas valores de "Iris-setosa"

In [ ]:
iris_setosa = iris.copy()

In [ ]:
iris_setosa

     sepallength  sepalwidth  petallength  petalwidth           class
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
5            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
iris_setosa["class"] = 'Iris-setosa'
iris_setosa

     sepallength  sepalwidth  petallength  petalwidth        class
1            5.1         3.5          1.4         0.2  Iris-setosa
2            4.9         3.0          1.4         0.2  Iris-setosa
3            4.7         3.2          1.3         0.2  Iris-setosa
4            4.6         3.1          1.5         0.2  Iris-setosa
5            5.0         3.6          1.4         0.2  Iris-setosa
..           ...         ...          ...         ...          ...
146          6.7         3.0          5.2         2.3  Iris-setosa
147          6.3         2.5          5.0         1.9  Iris-setosa
148          6.5         3.0          5.2         2.0  Iris-setosa
149          6.2         3.4          5.4         2.3  Iris-setosa
150          5.9         3.0          5.1         1.8  Iris-setosa

[150 rows x 5 columns]

In [ ]:
# = atribuição
# == verifica igualdade/compração

iris["class"] == 'Iris-setosa'

1       True
2       True
3       True
4       True
5       True
       ...
146    False
147    False
148    False
149    False
150    False
Name: class, Length: 150, dtype: bool

In [ ]:
iris[iris["class"] == 'Iris-virginica']

     sepallength  sepalwidth  petallength  petalwidth           class
101          6.3         3.3          6.0         2.5  Iris-virginica
102          5.8         2.7          5.1         1.9  Iris-virginica
103          7.1         3.0          5.9         2.1  Iris-virginica
104          6.3         2.9          5.6         1.8  Iris-virginica
105          6.5         3.0          5.8         2.2  Iris-virginica
106          7.6         3.0          6.6         2.1  Iris-virginica
107          4.9         2.5          4.5         1.7  Iris-virginica
108          7.3         2.9          6.3         1.8  Iris-virginica
109          6.7         2.5          5.8         1.8  Iris-virginica
110          7.2         3.6          6.1         2.5  Iris-virginica
111          6.5         3.2          5.1         2.0  Iris-virginica
112          6.4         2.7          5.3         1.9  Iris-virginica
113          6.8         3.0          5.5         2.1  Iris-virginica
114          5.7         2.5          5.0         2.0  Iris-virginica
115          5.8         2.8          5.1         2.4  Iris-virginica
116          6.4         3.2          5.3         2.3  Iris-virginica
117          6.5         3.0          5.5         1.8  Iris-virginica
118          7.7         3.8          6.7         2.2  Iris-virginica
119          7.7         2.6          6.9         2.3  Iris-virginica
120          6.0         2.2          5.0         1.5  Iris-virginica
121          6.9         3.2          5.7         2.3  Iris-virginica
122          5.6         2.8          4.9         2.0  Iris-virginica
123          7.7         2.8          6.7         2.0  Iris-virginica
124          6.3         2.7          4.9         1.8  Iris-virginica
125          6.7         3.3          5.7         2.1  Iris-virginica
126          7.2         3.2          6.0         1.8  Iris-virginica
127          6.2         2.8          4.8         1.8  Iris-virginica
128          6.1         3.0          4.9         1.8  Iris-virginica
129          6.4         2.8          5.6         2.1  Iris-virginica
130          7.2         3.0          5.8         1.6  Iris-virginica
131          7.4         2.8          6.1         1.9  Iris-virginica
132          7.9         3.8          6.4         2.0  Iris-virginica
133          6.4         2.8          5.6         2.2  Iris-virginica
134          6.3         2.8          5.1         1.5  Iris-virginica
135          6.1         2.6          5.6         1.4  Iris-virginica
136          7.7         3.0          6.1         2.3  Iris-virginica
137          6.3         3.4          5.6         2.4  Iris-virginica
138          6.4         3.1          5.5         1.8  Iris-virginica
139          6.0         3.0          4.8         1.8  Iris-virginica
140          6.9         3.1          5.4         2.1  Iris-virginica
141          6.7         3.1          5.6         2.4  Iris-virginica
142          6.9         3.1          5.1         2.3  Iris-virginica
143          5.8         2.7          5.1         1.9  Iris-virginica
144          6.8         3.2          5.9         2.3  Iris-virginica
145          6.7         3.3          5.7         2.5  Iris-virginica
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

In [ ]:
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
range(10)

range(0, 10)

In [ ]:
novo_index = []
for numero in range(150):
  novo_index.append(numero + 1)

In [ ]:
print(novo_index)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

In [ ]:
iris.index = novo_index

In [ ]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
5            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## 9. Qual a quantidade de valores/linhas de cada espécie de Iris?

In [ ]:
iris['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [ ]:
n_valores_virginica = len(iris[iris["class"] == 'Iris-virginica'])
n_valores_virginica

50

## 10. Calcule, para cada coluna numérica:
a) soma de valores

b) média

c) mediana

In [ ]:
iris.iloc[:,0:-1]

     sepallength  sepalwidth  petallength  petalwidth
1            5.1         3.5          1.4         0.2
2            4.9         3.0          1.4         0.2
3            4.7         3.2          1.3         0.2
4            4.6         3.1          1.5         0.2
5            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
146          6.7         3.0          5.2         2.3
147          6.3         2.5          5.0         1.9
148          6.5         3.0          5.2         2.0
149          6.2         3.4          5.4         2.3
150          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [ ]:
iris.iloc[:,0:-1]
iris_noclass = iris.iloc[:,0:-1]
iris_noclass.mean(0)

sepallength    5.843333
sepalwidth     3.054000
petallength    3.758667
petalwidth     1.198667
dtype: float64

In [ ]:
iris_noclass.median()

sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64

In [ ]:
iris_noclass.sum()

sepallength    876.5
sepalwidth     458.1
petallength    563.8
petalwidth     179.8
dtype: float64

In [ ]:
iris.agg(['mean', 'median', 'sum'])

,sepallength,sepalwidth,petallength,petalwidth,class
mean,5.843333,3.054,3.758667,1.198667,NaN
median,5.800000,3.000,4.350000,1.300000,NaN
sum,876.500000,458.100,563.800000,179.800000,Iris-setosaIris-setosaIris-setosaIris-setosaIr...

In [ ]:
iris.iloc[:,0:-1].agg(['mean','median','sum'])

        sepallength  sepalwidth  petallength  petalwidth
mean       5.843333       3.054     3.758667    1.198667
median     5.800000       3.000     4.350000    1.300000
sum      876.500000     458.100   563.800000  179.800000

In [ ]:
iris.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

## 11. Verifique quais os valores máximo e mínimo para cada coluna numérica

In [ ]:
iris.agg(['max', 'min'])

     sepallength  sepalwidth  petallength  petalwidth           class
max          7.9         4.4          6.9         2.5  Iris-virginica
min          4.3         2.0          1.0         0.1     Iris-setosa

## 12. Crie uma nova coluna com a soma de valores das colunas numéricas

In [ ]:
iris_noclass = iris.iloc[:,0:-1]

In [ ]:
iris_noclass['Total'] = iris_noclass.sum(axis=1)
iris_noclass

     sepallength  sepalwidth  petallength  petalwidth  Total
1            5.1         3.5          1.4         0.2   10.2
2            4.9         3.0          1.4         0.2    9.5
3            4.7         3.2          1.3         0.2    9.4
4            4.6         3.1          1.5         0.2    9.4
5            5.0         3.6          1.4         0.2   10.2
..           ...         ...          ...         ...    ...
146          6.7         3.0          5.2         2.3   17.2
147          6.3         2.5          5.0         1.9   15.7
148          6.5         3.0          5.2         2.0   16.7
149          6.2         3.4          5.4         2.3   17.3
150          5.9         3.0          5.1         1.8   15.8

[150 rows x 5 columns]

In [ ]:
iris['Total'] = iris_noclass.sum(axis=1)

In [ ]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class  Total
1            5.1         3.5          1.4         0.2     Iris-setosa   20.4
2            4.9         3.0          1.4         0.2     Iris-setosa   19.0
3            4.7         3.2          1.3         0.2     Iris-setosa   18.8
4            4.6         3.1          1.5         0.2     Iris-setosa   18.8
5            5.0         3.6          1.4         0.2     Iris-setosa   20.4
..           ...         ...          ...         ...             ...    ...
146          6.7         3.0          5.2         2.3  Iris-virginica   34.4
147          6.3         2.5          5.0         1.9  Iris-virginica   31.4
148          6.5         3.0          5.2         2.0  Iris-virginica   33.4
149          6.2         3.4          5.4         2.3  Iris-virginica   34.6
150          5.9         3.0          5.1         1.8  Iris-virginica   31.6

[150 rows x 6 columns]

## 13. Renomeie as colunas com os seguintes nomes:

| Nome antigo | Nome novo    |
|-------------|--------------|
| sepallength | Sepal length |
| sepalwidth  | Sepal width  |
| petallength | Petal length |
| petalwidth  | Petal width  |
| class       | Species      |

In [ ]:
novos_nomes = {'sepallength': 'Sepal length',
               'sepalwidth': 'Sepal width',
               'petallength': 'Petal length',
               'petalwidth': 'Petal width',
               'class': 'Species'}

In [ ]:
iris_renamed = iris.rename(columns=novos_nomes)

In [ ]:
iris_renamed

,Sepal length,Sepal width,Petal length,Petal width,Species,Total
1,5.1,3.5,1.4,0.2,Iris-setosa,20.4
2,4.9,3.0,1.4,0.2,Iris-setosa,19.0
3,4.7,3.2,1.3,0.2,Iris-setosa,18.8
4,4.6,3.1,1.5,0.2,Iris-setosa,18.8
5,5.0,3.6,1.4,0.2,Iris-setosa,20.4
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,34.4
147,6.3,2.5,5.0,1.9,Iris-virginica,31.4
148,6.5,3.0,5.2,2.0,Iris-virginica,33.4
149,6.2,3.4,5.4,2.3,Iris-virginica,34.6
150,5.9,3.0,5.1,1.8,Iris-virginica,31.6

In [ ]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class  Total
1            5.1         3.5          1.4         0.2     Iris-setosa   20.4
2            4.9         3.0          1.4         0.2     Iris-setosa   19.0
3            4.7         3.2          1.3         0.2     Iris-setosa   18.8
4            4.6         3.1          1.5         0.2     Iris-setosa   18.8
5            5.0         3.6          1.4         0.2     Iris-setosa   20.4
..           ...         ...          ...         ...             ...    ...
146          6.7         3.0          5.2         2.3  Iris-virginica   34.4
147          6.3         2.5          5.0         1.9  Iris-virginica   31.4
148          6.5         3.0          5.2         2.0  Iris-virginica   33.4
149          6.2         3.4          5.4         2.3  Iris-virginica   34.6
150          5.9         3.0          5.1         1.8  Iris-virginica   31.6

[150 rows x 6 columns]

## 14. Para cada variável (tamanhos e comprimentos de sépalas e pétalas), calcule a média e a mediana de cada espécie

In [ ]:
iris.groupby('class').mean()

                 sepallength  sepalwidth  petallength  petalwidth   Total
class
Iris-setosa            5.006       3.418        1.464       0.244  20.264
Iris-versicolor        5.936       2.770        4.260       1.326  28.584
Iris-virginica         6.588       2.974        5.552       2.026  34.280

In [ ]:
iris.groupby('class').median()

                 sepallength  sepalwidth  petallength  petalwidth  Total
class
Iris-setosa              5.0         3.4         1.50         0.2   20.4
Iris-versicolor          5.9         2.8         4.35         1.3   28.7
Iris-virginica           6.5         3.0         5.55         2.0   34.4

## 15. Verifique quantos valores em branco/faltantes estão presentes no dataframe

In [ ]:
iris.isnull().sum()

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
Total          0
dtype: int64

## 16. Crie uma coluna com a área da pétala

OBS: considere que a pétala é um retângulo

In [ ]:
iris['sepallength']*iris['sepalwidth']
iris['petalarea'] = iris['sepallength']*iris['sepalwidth']
iris

,sepallength,sepalwidth,petallength,petalwidth,class,Total,petalarea
1,5.1,3.5,1.4,0.2,Iris-setosa,20.4,17.85
2,4.9,3.0,1.4,0.2,Iris-setosa,19.0,14.70
3,4.7,3.2,1.3,0.2,Iris-setosa,18.8,15.04
4,4.6,3.1,1.5,0.2,Iris-setosa,18.8,14.26
5,5.0,3.6,1.4,0.2,Iris-setosa,20.4,18.00
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,34.4,20.10
147,6.3,2.5,5.0,1.9,Iris-virginica,31.4,15.75
148,6.5,3.0,5.2,2.0,Iris-virginica,33.4,19.50
149,6.2,3.4,5.4,2.3,Iris-virginica,34.6,21.08
150,5.9,3.0,5.1,1.8,Iris-virginica,31.6,17.70

## 17. Filtre o dataframe para áreas de pétala com valor entre 7 e 9, e ordene os valores de maior para menor

In [ ]:
iris['petalarea'] > 7
iris['petalarea'] < 9

In [ ]:
iris_petalarea7 = iris[iris['petalarea'] > 7]

In [ ]:
iris_petalarea7

,sepallength,sepalwidth,petallength,petalwidth,class,Total,petalarea
1,5.1,3.5,1.4,0.2,Iris-setosa,20.4,17.85
2,4.9,3.0,1.4,0.2,Iris-setosa,19.0,14.70
3,4.7,3.2,1.3,0.2,Iris-setosa,18.8,15.04
4,4.6,3.1,1.5,0.2,Iris-setosa,18.8,14.26
5,5.0,3.6,1.4,0.2,Iris-setosa,20.4,18.00
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,34.4,20.10
147,6.3,2.5,5.0,1.9,Iris-virginica,31.4,15.75
148,6.5,3.0,5.2,2.0,Iris-virginica,33.4,19.50
149,6.2,3.4,5.4,2.3,Iris-virginica,34.6,21.08
150,5.9,3.0,5.1,1.8,Iris-virginica,31.6,17.70

In [ ]:
iris_petalarea11 = iris_petalarea7[iris_petalarea7['petalarea'] < 11]

In [ ]:
iris_petalarea11

,sepallength,sepalwidth,petallength,petalwidth,class,Total,petalarea
42,4.5,2.3,1.3,0.3,Iris-setosa,16.8,10.35
61,5.0,2.0,3.5,1.0,Iris-versicolor,23.0,10.00

In [ ]:
iris_petalarea11.sort_values('petalarea', ascending=False)

,sepallength,sepalwidth,petallength,petalwidth,class,Total,petalarea
42,4.5,2.3,1.3,0.3,Iris-setosa,16.8,10.35
61,5.0,2.0,3.5,1.0,Iris-versicolor,23.0,10.00

In [ ]:
iris[(iris['petalarea'] > 7) & (iris['petalarea'] < 11)]

,sepallength,sepalwidth,petallength,petalwidth,class,Total,petalarea
42,4.5,2.3,1.3,0.3,Iris-setosa,16.8,10.35
61,5.0,2.0,3.5,1.0,Iris-versicolor,23.0,10.00